{
  "root": true,
  "extends": ["@cicada-design/eslint-config"],
  "rules": {
    "prefer-object-spread": "off"
  },
  "overrides": [{
    "files": ["src/views/**/*.vue"],
    "rules": {
      "vue/multi-word-component-names": 0
    }
  }]
}
